@model Abuse.Models.Docket

@{
    ViewData["Title"] = "Create";
}

<h2>Creat</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <h4>Docket</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="CreateDate" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="CreateDate" class="form-control" />
                <span asp-validation-for="CreateDate" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Accussed" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Accussed" class="form-control" />
                <span asp-validation-for="Accussed" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="AccussedDescription" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="AccussedDescription" class="form-control" />
                <span asp-validation-for="AccussedDescription" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Offense" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Offense" class="form-control" />
                <span asp-validation-for="Offense" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="DateOfOffense" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="DateOfOffense" class="form-control" />
                <span asp-validation-for="DateOfOffense" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Victim" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Victim" class="form-control" />
                <span asp-validation-for="Victim" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="AddressOfOffender" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="AddressOfOffender" class="form-control" />
                <span asp-validation-for="AddressOfOffender" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="OfficerOnCase" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="OfficerOnCase" class="form-control" />
                <span asp-validation-for="OfficerOnCase" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="InvestigativeOfficer" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="InvestigativeOfficer" class="form-control" />
                <span asp-validation-for="InvestigativeOfficer" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
