@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Kamlink Systems (Pvt) Ltd<br />
    Cnr First & Jason Moyo<br />
    Batanai Gardens<br />
    Harare, Zimbabwe<br />
    <abbr title="Phone">Phone:</abbr>
    +263782326160
</address>

<address>
    <strong>Support:</strong> <a href="mailto:mafiguhuggins@gmail.com">mafiguhuggins@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:hugginsmafigu@gmail.com">hugginsmafigu@gmail.com</a>
</address>
